:root {
  /* Paleta de colores */
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --Gris-oscuro: #666;
  --Gris-claro: #ebebeb;
  --Verde: #39b54a;
  /*Fuente*/
  --font-roboto: "Roboto", sans-serif;
  /* Tamaños de fuentes */
  --parrafos: 12px;
  --titulos: 24px;
  --precios: 18px;
  --descuentos-descripciones: 16px;
}

/* General */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--font-roboto);
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.ml-15{
    margin-left: 15px;
}

/*HEADER*/

header {
  background-color: var(--Amarillo);
  font-size: var(--parrafos);
  padding-bottom: 10px;
}

header .logo {
  width: 130px;
  margin: 0px 0px 10px 25px;
  padding-top: 25px;
}

header p {
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: var(--parrafos);
}

.top-list{
    margin-bottom: 10px;
}

.burger-menu{
    background-color: var(--Celeste);
    color: white;
    border-radius: 5px;
    margin: 10px auto;
    padding: 7px;
    text-align: center;
    width: 15px;
}

/*Banner*/

.banner{
display: none;
}

/* Main*/
main {
    margin: 0 auto;
    width: 90%;
}

/*TITULOS*/

.titulo{
    font-size: var(--titulos);
    text-align: center;
}

/*Card*/
.card{
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.img-producto{
    width: 100%;
}

.card-content {
    margin-left: 10px;
    padding-bottom: 10px;
}

.icono-camion{
    color: var(--Verde);
}

.precio{
    font-size: var(--precios);
}

.descuentos {
    font-size: var(--descuentos-descripciones);
}

.descripcion{
    font-size: var(--descuentos-descripciones);
}


/*FOOTER*/

footer{
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding-top: 60px;
}

.caja-footer{
    text-align: center;
    margin: 0px 42px 10px 42px;
}

.icono-footer{
    color: var(--Celeste);
    margin-bottom: 10px;
    font-size: 30px;
}

footer .caja-footer h4{
    font-size: var(--precios);
}

footer .caja-footer p {
    font-size: var(--parrafos);
    margin-bottom: 30px;
}

.p-footer {
    font-size: var(--parrafos);
    margin-left: 30px;
    padding-bottom: 30px;
}